.input:focus {
    outline: none;
}

.input {
}

.inputWrapper {
}

.superInput {
}

.errorInput {
    margin: 10px;
    background: #003300;
    color: #99ff99;
    border: 2px solid #dd3355;
}

.errorInput:focus {
}

.error {
    color: #dd3355;
    height: 21px;
    margin-left: 10px;
}
