.friendMessage {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-bottom: 20px;

}

.friendImageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}

.friendImageAndText img {
    /*position: relative;*/
    width: 48px;
    height: 48px;
    margin-left: 3px;
}

.friendText {
    border-radius: 4px 4px 0 4px;
    max-width: 414px;
    min-height: 60px;
    box-shadow: 0 5px 20px rgba(29, 33, 38, 0.03), 0 1px 2px rgba(29, 33, 38, 0.1);
    background: #0066CC;
    padding: 8px;
    word-wrap: break-word;
}

.friendText:after {
    content: '';
    width: 15px;
    height: 15px;
    background: radial-gradient(circle at 0 0, rgba(0, 0, 0, 0) 15px, rgba(255, 255, 255, 0.3) 0);
}

.friendName {
    font-size: 16px;
    font-weight: 600;
}

.friendMessageText {
    margin-top: 4px;
    font-size: 16px;
}

.friendTime {
    right: 30px;
    position: absolute;
    margin-top: 60px;
    font-weight: 600;
    font-size: 10px;
}
